<p>product-list works!</p>
<div class="card">
<div class="card-header">
lista de productos
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-2">
            filtrar:
        </div>
        <div>
            <input type="text" class="from-control" name="filter">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Filtro:</h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" *ngIf="productos.length">
            <thead>
                <tr>
                    <th>
                        <button (click)="mostarImagen()" class="btn btn-primary"
                        type="button">Imagen</button>
                    </th>
                    <th>modelo</th>
                    <th>descripcion</th>
                    <th>año</th>
                    <th>precio</th>
                    <th>marca</th>
                    <th>color</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td *ngIf="muestraImagenes">
                        <img [src]="producto.imgUrl"
                        [title]="producto.modelo"
                        [style.width.px]="imageWidth"
                        [style.margin.px]="imageMargin"
                        >
                    </td>
                    <td>{{producto.modelo}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.year|date}}</td>
                    <td>{{producto.precio|currency}}</td>
                    <td>{{producto.marca}}</td>
                    <td>{{producto.color}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>